header{
        overflow: hidden;
        position: relative;
        height: 100vh;
        box-shadow: 0 0 20px 1.2px black;
}
.banar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    & h1{
        font-size: 50px;
        color: var(--font-color);
        letter-spacing: 7px;
        text-transform: uppercase;
        font-weight: 200;
        /* text-shadow: 0 0 10px black; */
        background: linear-gradient(to bottom, rgb(255, 255, 255) ,var(--essential) 80%, var(--essential));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.background{

    background-color: var(--essential);
    height: 80%;
    /* border-radius: 0 0 20px 20px; */
    z-index: 10;
    /* box-shadow: 0 0 10px 1px black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.navebar{
    height: 20%;
    background-image: linear-gradient(to bottom, var(--essential), var(--sec-color));
    position: relative;
    /* border-radius: 0 0 20px 20px; */
    display: flex;
    justify-content: center;

    align-items: center;
    /* box-shadow: 0 0 20px 1.2px black; */
    margin-bottom:20px ;
    & ul{
        display: flex;
        list-style: none;
        flex-direction: column;
    }
    & li{
        background-color: transparent;
        border: 1px solid white;
        width: 300px;
        height: 50px;
        border-radius: 20px ;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 20px 0 25px;
        font-size: 20px;
        box-shadow: 0 0 10px 1px var(--essential);

        & a{
            font-weight: 100;
            color: var(--font-color);
            text-transform: uppercase;
            letter-spacing: 12px;
        }
    }
}
.img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.img::before{
    content: "";
    width: 80px;
    height: 80px;
    background-color: rgb(204, 195, 195);
    position: absolute;
    /* border: 3px solid rgb(124, 124, 124); */
    top: -7px;
    right: 0px;
    background-color: rgba(95, 93, 216, 0.411);
    box-shadow: 0 0 10px 1px rgba(95, 93, 216, 0.411);
    border-radius:50% ;
    z-index: -1;
}
.img::after{
    content: "";
    width: 80px;
    height: 80px;
    background-color: rgba(95, 93, 216, 0.411);
    box-shadow: 0 0 10px 1px rgba(95, 93, 216, 0.411);
    position: absolute;
    /* border: 3px solid rgb(124, 124, 124); */
    bottom: -7px;
    left: 0px;
    border-radius:50% ;
    z-index: -1;
}
.img1{
    width: 90px;
    height: 90px;
        background-color: var(--essential);
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.name{
    margin-top:50px;
    font-size: 25px;
    font-weight: 600;
    color: var(--font-color);
    letter-spacing: 5px;
    font-weight: 200;
}
.job{
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.322);
    letter-spacing: 12px;
    margin-top:5px ;
    font-weight: 200;
}
.job2{
    position: relative;
    font-size: 55px;
    font-family: "Geologica";
    color: rgba(255, 255, 255, 0.144);
    letter-spacing: 22px;
    margin-top:5px ;
    font-weight: 600;
    top: 45px;
    z-index: 1;
    mask-image: linear-gradient(to left, rgba(0,0,0,1) , rgba(0,0,0,0) );
}