
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
--essential:#0c0b1d;
--sec-color:#1f1e36;
--background-color:#E7F2EF;
--line-hieght:2px;
--font-color:white;
--border-radius:10px;
--border-color-essential:white;
} 
body{
        background-color:var(--background-color);
        overflow-x: hidden;
}
