
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
--essential:#0c0b1d;
--sec-color:#1f1e36;
--background-color:#E7F2EF;
--line-hieght:2px;
--font-color:white;
--border-radius:10px;
--border-color-essential:white;
} 
body{
        background-color:var(--background-color);
        overflow: hidden;
        scroll-behavior: smooth;
}
.scroll-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--essential);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 1px black;
    cursor: pointer;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    transform: rotate(-45deg);
    right: -60px;
    font-size: 20px;
    transition: 0.5s;
}
.scroll-up-active{
    right: 20px;
}